*{
	padding:0;
	margin:0;
}

body{
	background: #fafafa;
	font-family: sans-serif;
	color: #515151;
}

div#main{
	margin: auto;
    width: 950px;
}

header{
	background: #fafafa;
	width : 950px;
	height: 100px;
	padding-top: 40px;
}

header img{
	height: 100px;
	float: left;
	margin: -20px 0px 0px 20px;
}

header h1{
	text-align: center;
	display: inline;
	margin: 40px;
}

nav{  
	height: 50px;
	float: right;	
	margin: 50px 0px 0px 0px;
}

nav ul li{
	padding-top: 10px;
	float: right;
	list-style: none;
	display: inline-block;
	margin: 5px 10px;
}

nav ul li a{
    text-decoration: none;
	color: #b2b2b2;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 10px 15px 10px;
}

nav ul li a:hover{
	color: #b2b2b2;
	border-left: 1px solid #A6ACAF;
	border-right: 1px solid #A6ACAF;
}

.contenedor{
	width: 750px;
	float: left;
	margin: 20px 0px;
	overflow: hidden;
}

.form-datos{
	width: 400px;
	margin: 0px auto;
	float: left;

}
.step{
	margin: 30px auto;
}
.progreso{
	margin: 30px 500px;
	float: left;
	position: absolute;
}

.progressbar{
	border: 16px solid #D0D3D4;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

h3{ 
	text-align: center;	
}

.form-datos input, textarea{
    display: inline-block;
    width: 90%;
	height: 35px;
	margin: 10px 10px;
	padding: 5px;
	border: 1px solid #E2E2E2;
	border-radius: 3px;
}

#filePortada, #fileIndice, #fileCuerpo, #filePDF, #fileAutorizacion{
	border-style: none;
}

#nextBack, #nextNext{	
	width: 150px;
	background: #3498DB;
	font-weight: bold;
	color: white;
	border: 0px none;
	cursor: pointer;
}

aside{
	width: 165px;
    height: 100px;
	margin-top: 20px;
	margin-bottom: 0px;
    float: left;
	margin-left: 25px;
	background: -webkit-radial-gradient(
        center,
        #F8F9F9 10%,
        #E5E8E8 100%
    );
}

.barra1, .barra2{
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	padding: 10px;
}

.hora{
	text-align: center;
}

footer{
	color: black;
	clear: both;
	float: left;
	height: 210px;
	margin-top: 20px;
	text-align: center;
	width: 950px;
}
section#redessociales{
	background: #f0f0f0;
	height: 100px;
}

span{	
	padding-top: 25px;
	padding-bottom: 25px;
	display: inline-block;
}

.iconos{
	height: 50px;
	padding: 0px 10px 0px 10px;
}

section#informacion{
	background: #e6e6e6;
	height: 110px;
	line-height: 25px;
	padding-top: 10px;
}

.politica{
	color: #808080;
	font-weight: bold;
}